body{
    font-family: Jost;
    background-color: #fff;
}
img {
    display: block;
}
ul, ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

h1, h2, h3, h4{
    margin: 0;
}

a {
    display: block;
    text-decoration: none;
}

.conteiner{
    padding-left: 380px;
    padding-right: 380px;
}

header{
    background-color: #141024;
}
.icon{
   height: 783px;
   width: 783px;
   fill: black;
}